<main class="container">
  <div class="login-card">
    <header class="login-header">
      <h1>Bienvenido de vuelta</h1>
      <p class="subtitle">Ingrese sus credenciales para gestionar gastos y recuperación de impuestos.</p>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      @if (errorMessage) {
        <div class="form-error" role="alert" aria-live="polite">
          {{ errorMessage }}
        </div>
      }
      
      <app-input 
        label="Email" 
        type="email" 
        placeholder="nombre@empresa.com"
        formControlName="email">
      </app-input>

      <div class="input-group">
        <a class="forgot-link" [routerLink]="['/auth/forgot-password']">¿Olvidó su contraseña?</a>
        <app-input 
          label="Password" 
          type="password" 
          placeholder="••••••••"
          formControlName="password" 
          >
        </app-input>
      </div>

      <button type="submit" class="btn-primary" [disabled]="isLoading">
        {{ isLoading ? 'Validando...' : 'Iniciar sesión' }}
      </button>

      <span class="register-text">
        ¿No tienes una cuenta? <a [routerLink]="['/auth/onboarding']">Regístra tu organización</a>
      </span>

      <div class="footer-security">
        <span>🔒 ENCRIPTACIÓN DE GRADO EMPRESARIAL SEGURA</span>
      </div>
    </form>
  </div>
</main>